@import "bootstrap.min.css";
@import "toastr.min.css";

body {
    background: #ececf1;
}

.order-form .form-check {
    border-radius: var(--bs-border-radius-lg)!important;
    margin-bottom: 1rem!important;
    padding: 1rem!important;
    padding-left: 3rem!important;
    padding-right: 2rem!important;
    box-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
}

.order-form .form-check-label {
    width: 100%;
}

.register-container, .login-container {
    max-width: 800px;
}

.address-name, .address-address, .address-details {
    text-transform: capitalize;
}

.address-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
}

.cursor-pointer {
    cursor: pointer;
}

.error, .success, .warning, .info {
    display: none!important;
}

.notification-bar {
    max-width: 400px;
}

.vignette {
    max-width: 500px;
    max-height: 500px;
}

.user-dropdown {
    min-width: 170px;
    width: min-content;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 45rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.product-name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
}

.product-description-xl {
    text-align: justify;
}

.product-subtitle {
    font-size: 13px;
}

.product-price {
    font-size: 16px;
}

.product-name-xl {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bolder;
}

.product-subtitle-xl {
    font-size: 22px;
}

.product-image-xl {
    max-width: 380px;
    max-height: 380px;
}

.product-price-xl {
    font-size: 24px;
}

.product-card {
    transition: transform 400ms ease-in-out;
}

.product-card, a {
    color: black;
    text-decoration: none;
}

.product-card:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .vertical-separator-border {
        border-left: var(--bs-border-width) var(--bs-border-style) rgba(33, 37, 41, 0.25) !important;
    }
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .vignette-heading {
        font-size: 50px;
    }
}

.admin-case {
    max-width: 200px;
}

.admin-case-link {
    background-color: #EEEEEE;
    border-radius: 0.8rem;
    transition: ease-in-out .5s;
}

.admin-case-link:hover {
    background-color: #E5E5E5;
}

.mail-navbar-child {
    margin: auto 0 auto 0;
}

.mail-navbar {
    min-width: fit-content;
    overflow-x: hidden;
    width: 0;
    transition: width ease-in-out .5s;
    align-content: center;
    position: fixed;
    padding: 0;
    background-color: #FCFCFCCC;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.mail-navbar-active {
    width: 100%;
    padding: 50px 30px;
}

.mail-nav-button {
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    margin: 0 20px;
    padding: 10px 10px;
    color: #151515;
    font-weight: 500;
    font-size: 16px;
    transition: ease-in-out .5s;
    position: relative;
}

.mail-nav-button a {
    display: block;
}

.mail-nav-button::after {
    content: "";
    position: absolute;
    margin: 0 auto 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #505050;
    transition: width 0.5s ease-in-out;
    transform-origin: left;
    pointer-events: none;
}

.mail-nav-button:hover::after {
    width: 100%;
}

.mail-content-part {
    background-color: #FCFCFCAA;
}

.mailbox-title {
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.mailbox-user {
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.mailbox-content {
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 40px 25px;
}

.mail-preview {
    width: 100%;
    padding: 5px;
    transition: background-color ease-in-out 0.3s;
    background-color: #00000000;
    cursor: pointer;
}

.mail-preview:hover {
    background-color: #00000010;
}

.mail-preview span {
    padding: 1px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto 0 auto 0;
}

.mail-preview .mail-from-name, .mail-preview .mail-from-subject {
    width: 100%;
}

.mail-preview .mail-from {
    width: calc(100% - (10ch + 2*4px + 20px));
}

.mail-preview .mail-from-date{
    font-size: 13px;
    width: calc(10ch + 2*4px);
}

.mail-navbar-switch {
    z-index: 3;
    padding: 20px;
    aspect-ratio: 1/1;
    border-radius: 2.5rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EEEEEE;
    transition: background-color, bottom ease-in-out 0.5s;
}

.mail-navbar-switch-active {
    bottom: calc(100vh - 20px - 70px); <!-- Height of screen minus padding from top and minus height of element -->
}

.mail-navbar-switch i {
    padding: 15px 0 0 0;
}

.mail-navbar-switch:hover {
    background-color: #F1F1F1;
}

.seen-indicator {
    width: 10px;
    height: 10px;
    margin: auto 15px auto 5px!important;
    background-color: var(--bs-link-color);
    border-radius: 2.5rem;
}

.seen-indicator.seen {
    background-color: #707070;
}

.conditions-title {
    margin: 20px auto 40px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
}

.conditions-part-title {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
}

.conditions-part-content {
    text-align: justify;
    font-size: 15px;
    margin-bottom: 50px;
}

.link-dark {
    color:#212529!important;
    transition: color ease-in-out .3s;
}

.link-dark:hover {
    color:#616569!important
}

.write-container {
    overflow-y: scroll!important;
    height: 100%!important;
}

.write-container-in {
    padding: 15px;
    background-color: #FAFAFA;
}

.mail-container {
    overflow-y: scroll!important;
    height: 100%!important;
}

.mail-container-in {
    padding: 15px;
    background-color: #FAFAFA;
}

.read-mail-subject {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-primary {
    --bs-btn-bg: #5dade2;  /* Bleu clair */
    --bs-btn-border-color: #5dade2;  /* Bleu clair */
    --bs-btn-hover-bg: #4a90e2;  /* Bleu légèrement plus foncé au survol */
    --bs-btn-hover-border-color: #4a90e2;  /* Bleu légèrement plus foncé au survol */
    --bs-btn-active-bg: #4a90e2;  /* Bleu légèrement plus clair lors de l'activation */
    --bs-btn-active-border-color: #4a90e2;  /* Bleu légèrement plus clair lors de l'activation */
    --bs-btn-disabled-bg: #5dade2;  /* Bleu clair pour état désactivé */
    --bs-btn-disabled-border-color: #5dade2;  /* Bleu clair pour état désactivé */
}

.btn-outline-primary {
    --bs-btn-color: #5dade2;  /* Bleu clair pour le texte */
    --bs-btn-border-color: #5dade2;  /* Bleu clair pour la bordure */
    --bs-btn-hover-bg: #5dade2;  /* Bleu clair pour le fond au survol */
    --bs-btn-hover-border-color: #5dade2;  /* Bleu clair pour la bordure au survol */
    --bs-btn-active-bg: #5dade2;  /* Bleu clair pour le fond lors de l'activation */
    --bs-btn-active-border-color: #5dade2;  /* Bleu clair pour la bordure lors de l'activation */
    --bs-btn-disabled-color: #5dade2;  /* Bleu clair pour le texte en état désactivé */
    --bs-btn-disabled-border-color: #5dade2;  /* Bleu clair pour la bordure en état désactivé */
}

.mail-button {
    text-align: center;
    padding: 10px;
    width: 36px;
    height: 36px;
    aspect-ratio: 1/1;
    border-radius: 2.5rem;
    transition: background-color ease-in-out .3s;
}

.custom-file-input {
    visibility: hidden;
    width: 0;
}

.custom-file-label {
    background-color: #FFFFFF;
    border: solid 1px #808080;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.custom-file-label.is-invalid {
    border-color:var(--bs-danger);
    padding-right:calc(1.5em + .75rem);
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-position:right calc(.375em + .1875rem) center;
    background-size:calc(.75em + .375rem) calc(.75em + .375rem)
}

.custom-file-label:hover {
    background-color: #EFEFEF;
}

.mail-button:hover {
    background-color: #EFEFEF;
}

.mail-form-add {
    border-color: #777777;
}

@media (min-width: 750px) {
    .write-container-in {
        margin: 40px;
        padding: 30px;
        border-radius: 0.7rem;
        background-color: #FFFFFF;
    }

    .mail-container-in {
        margin: 40px;
        padding: 30px;
        border-radius: 0.7rem;
        background-color: #FFFFFF;
    }

    .mail-preview .mail-from-date {
        font-size: inherit;
    }

    .conditions-title {
        font-size: 26px;
    }

    .conditions-part-title {
        font-size: 21px;
    }

    .conditions-part-content {
        font-size: 18px;
    }
}

@media (min-width: 1050px) {
    .mail-navbar-switch {
        display: none;
    }

    .mail-navbar-child {
        margin: inherit;
    }

    .mail-navbar {
        position: inherit;
        background-color: #FCFCFCEE;
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
        padding: 50px 30px;
        width: auto;
        z-index: inherit;
        flex-direction: column;
    }

    .email-user-box {
        flex-direction: row;
    }

    .mail-nav-button {
        text-align: inherit;
        right: inherit;
        margin: inherit;
    }

    .mail-nav-button::after {
        margin: inherit;
        right: inherit;
    }

    .mailbox-content {
        padding: 40px 50px;
    }

    .mailbox-title {
        margin: auto auto auto 0;
        text-align: start;
    }

    .mailbox-user {
        margin: auto 0 auto auto;
        text-align: end;
    }

    .mail-preview {
        padding: calc(3px + 1rem);
    }

    .mail-preview span {
        padding: 4px;
    }

    .mail-preview .mail-from-name {
        width: calc(20ch + 2*4px + 10px);
    }

    .mail-preview .mail-from-subject {
        width: calc(100% - (20ch + 2*4px + 10px + 20px));
    }

    .mail-from {
        flex-direction: row!important;
    }
}